<!--baniere-->
<div class="banner">
    <h1>Le voyage commence avec le partenaire parfait.</h1>
    <div class="buttontext">
    <button>
        <a routerLink="produits" routerLinkActive="active-link">Découvrez notre sélection !</a>
    </button>
<p class="singin"><a class="singin" routerLink="inscription">Inscrivez vous</a> et profitez de 20% de réduction sur votre premier achat*</p>
</div>
</div>
<!--top vente-->
<div class="row">
    <h3>Top vente</h3>
<div class="container">
    
        <img src="../../../assets/img/nikafacileaenfilerblanc.webp">
        <img src="../../../assets/img/nikefacileaenfiler.webp">
        <img src="../../../assets/img/nikefacileaenfilerrose.webp">
</div>
</div>
